<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body class="h-screen p-12 bg-gray-300 select-none font-serif">
  <!--Container-->
  <div class="bg-white w-full h-full rounded-3xl flex flex-col overflow-hidden p-6 shadow-gray-400 shadow-lg">
    <!--Header-->
    <div class="h-1/6 flex justify-between items-center ml-8 mr-8">
      <div>
        <p class="font-bold text-3xl">Aleksa Milošević.</p>
      </div>
      
      <div class="flex font-semibold text-sm items-center gap-6">
        <a href="index.html">
          <p class="hover:underline underline-offset-2 decoration-[2px]">Home</p>
        </a>
        
        <a href="projects.html">
          <p class="hover:underline underline-offset-2 decoration-[2px]">Projects</p>
        </a>
        
        <a href="about.html">
          <p class="hover:underline underline-offset-2 decoration-[2px]">About</p>
        </a>
        
        <img src="../icons/lang.svg" alt="language" class="size-4 cursor-pointer">
        <img src="../icons/dark-theme.svg" alt="theme" class="size-4 cursor-pointer">
      </div>
    </div>

    <!--Main-->
    <div class="flex-grow p-8 flex justify-around items-center">
      <div>
        <p class="mb-4 font-extrabold text-4xl">I am an <span class="block text-purple-700">Electrical and Computer Engineer</span></p>
        <p class="mb-8">I am a final year student of the School of Electrical and Computer Engineering,<span class="block">majoring in Computer Engineering.</span></p>
        <button class="bg-purple-700 pt-2 pb-2 pl-8 pr-8 rounded-3xl flex items-center shadow-gray-400 shadow-lg hover:shadow-purple-400 hover:bg-purple-600 transition-all">
          <img src="../icons/doc.svg" alt="doc" class="size-5 mr-2">
          <p class="text-white">Download CV</p>
        </button>
      </div>

      <img src="../images/profile.jpg" alt="profile-picture" class="size-[360px] rounded-3xl shadow-gray-400 shadow-lg">
    </div>

    <!--Footer-->
    <div class="h-1/6 flex items-center justify-center gap-16">
      <a href="https://linkedin.com/in/aleksamlsvc12">
        <img src="../icons/github.svg" alt="github" class="size-5 hover:translate-y-1 transition-all">
      </a>

      <a href="https://github.com/aleksamlsvc12">
        <img src="../icons/linkedin.svg" alt="linkedin" class="size-5 hover:translate-y-1 transition-all">
      </a>
      
      <a href="mailto:aleksamlsvc12@gmail.com">
        <img src="../icons/email.svg" alt="email" class="size-5 hover:translate-y-1 transition-all">
      </a>
    </div>
  </div>
</body>
</html>