@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .advanced-button{
    background-color: red;
  }

  .intermediate-button{
    background-color: #ffea2a;
  }

  .beginner-button{
    background-color: lightgreen;
  }

  .completed-button{
    background-color: green;
  }

  .date-button{
    background-color: gray;
  }

  @keyframes appear {
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }

  @keyframes slide {
    from{
      opacity: 0;
      transform: translateX(-100%);
    }
    to{
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes topSlide {
    from{
      opacity: 0;
      transform: translateY(-30px);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideLeftToRight {
    from{
      opacity: 0;
      transform: translateX(-30px);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }

  @keyframes slideRightToLeft {
    from{
      opacity: 0;
      transform: translateX(30px);
    }
    to{
      opacity: 1;
      transform: translateY(0);
    }
  }


}