@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .advanced-button{
    background-color: red;
  }

  .intermediate-button{
    background-color: #ffea2a;
  }

  .beginner-button{
    background-color: lightgreen;
  }

  .completed-button{
    background-color: green;
  }

  .date-button{
    background-color: gray;
  }
}